{% extends 'page/simple_wide.html' %}

{# Overrides https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_set.html #}

{% load django_bootstrap5 %}
{% load util %}

{% block title %}Set Password{% endblock %}

{% block card_content %}
    <h3>{{ 'Set Password'|colour_first_letter }}</h3>

    <form method="POST" action="{% url 'account_set_password' %}">
        {% csrf_token %}

        {% bootstrap_form form label_class='fw-bold' %}

        {% bootstrap_button button_type="submit" content="Set password" %}
    </form>
{% endblock %}
