{% extends 'page/simple_wide.html' %}

{# Overrides https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_reset_done.html #}

{% load util %}

{% block title %}Password Reset{% endblock %}

{% block card_content %}
    <h3>{{ 'Password Reset'|colour_first_letter }}</h3>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
    </p>
{% endblock %}
