{% extends 'page/simple_wide.html' %}

{% load django_bootstrap5 %}
{% load util %}

{% block title %}Delete Puzzle Code{% endblock %}

{% block card_content %}
    <h3>{{ 'Delete Puzzle Code'|colour_first_letter }}</h3>
    <p>Are you sure you want to delete puzzle code "Day {{ puzzle_code.day.number }} - Puzzle {{ puzzle_code.number }}"?</p>

    <form method="post">
        {% csrf_token %}

        {% bootstrap_form form label_class='fw-bold' %}

        {% bootstrap_button button_type='submit' button_class='btn-danger' content='Yes, delete puzzle code' %}
        {% bootstrap_button button_type='link' href=puzzle.get_absolute_url content='No, cancel' %}
    </form>
{% endblock %}
