{% load static %}

 <section class="mt-5">
    <div class="large-logo d-flex justify-content-center flex-column align-items-center">
        <a href="https://tinyurl.com/2p85a9be" class="fancy-logo d-flex justify-content-center">
            <img class="beam" src="{% static 'images/themes/2022/logo-simple-beam.png' %}" alt="" />
            <img class="ufo" src="{% static 'images/themes/2022/logo-simple-ufo.png' %}" alt="" />
            <img class="puzzle" src="{% static 'images/themes/2022/puzzle-piece.png' %}" alt="" />
        </a>
        <img class="title" src="{% static 'images/themes/2022/title.svg' %}" alt="Extraterrestrial Encounter">
    </div>
</section>
