{% extends 'page/simple_wide.html' %}

{% load django_bootstrap5 %}
{% load util %}

{% block title %}Generate Kill Codes{% endblock %}

{% block card_content %}
    <h3>{{ 'Generate Kill Codes'|colour_first_letter }}</h3>
    <p>Are you sure you want to generate kill codes for edition {{ edition.year }}? All existing kill codes will be deleted.</p>

    <form method="post">
        {% csrf_token %}

        {% bootstrap_form form label_class='fw-bold' %}

        {% bootstrap_button button_type='submit' button_class='btn-danger' content='Yes, generate kill codes' %}
        {% bootstrap_button button_type='link' href=edition.get_kill_codes_url content='No, cancel' %}
    </form>
{% endblock %}
