{% extends 'editions/scores.html' %}

{% load django_bootstrap5 %}
{% load util %}

{% block title %}Scores{% endblock %}
{% block page_title %}{{ 'Scores'|colour_first_letter }}{% endblock %}

{% block scores %}
    <div class="col d-flex mb-4">
        <div class="card flex-fill">
            <div class="card-body">
                {% if not edition %}
                    <p class="fst-italic">No scores available.</p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Team</th>
                                    {% if not edition.is_archive_scores %}
                                        <th>Puzzles</th>
                                        <th>Puzzle bonus</th>
                                        <th>Hints</th>
                                        <th>Kills</th>
                                    {% endif %}
                                    <th>Total</th>
                                    {% if not edition.is_archive_scores %}
                                        <th>Solved puzzles</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for score, teams in ranked_teams %}
                                    {% for team in teams %}
                                        <tr>
                                            <th>{{ forloop.parentloop.counter }}</th>
                                            <td>{{ team.name }}</td>
                                            {% if not edition.is_archive_scores %}
                                                <td>{% call team 'get_puzzle_score' day %}</td>
                                                <td>{% call team 'get_puzzle_bonus_score' day %}</td>
                                                <td>{% call team 'get_hint_score' day %}</td>
                                                <td>{% call team 'get_kill_score' day %}</td>
                                            {% endif %}
                                            <th>{{ score }}</th>
                                            {% if not edition.is_archive_scores %}
                                                <td>{% call team 'get_solve_numbers' day %}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
